body {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1.6rem;
  background:url(../images/pattern-background-desktop.svg) no-repeat;
  background-color: hsl(225, 100%, 94%);
  background-size: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px 15px 0px 15px;
}

.card {
  max-width: 450px;
  border-radius: 18px;
  overflow: hidden;
  background: white;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card .card-img {
  display: block;
}

.card .card-title {
  padding: 45px 20px 18px 20px;
  font-size: 2.8rem;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}

.card .card-info {
  color: hsl(224, 23%, 55%);
  font-weight: 500;
  padding: 0 50px 20px 50px;
  line-height: 1.6;
}

.card .plan-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:hsl(225, 100%, 98%);
  border-radius: 10px;
  max-width: 360px;
  padding: 25px 25px 25px 25px;
  margin: 0 auto;
}

.card .plan-card .change-btn {
  font-size: 1.4rem;
  font-weight: 700;
  color: hsl(245, 75%, 52%);
}

.card .plan-card a:hover {
  text-decoration: none;
  color: hsl(245, 82%, 67%);
}

.card .annual-plan {
  display: flex;
  align-items: center;
  gap: 20px;
  color: hsl(223, 47%, 23%);
}

.card .annual-plan p {
  font-weight: 900;
}

.card .annual-plan span {
  color:  hsl(224, 23%, 55%);
}

.card .checkout-btns {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card .checkout-btns .payment-btn {
  color: hsl(225, 100%, 94%);
  background: hsl(245, 75%, 52%);
  text-decoration: none;
  max-width: 360px;
  padding: 15px 100px;
  border-radius: 12px;
  font-weight: 700;
  margin: 35px auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.2s ease-out;
}

.card .checkout-btns .payment-btn:hover {
  background: hsl(245, 82%, 67%);
}

.card .checkout-btns .cancel-btn {
  text-decoration: none;
  color: hsl(224, 23%, 55%);
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 50px;
  transition: 0.2s ease-out;
}

.card .checkout-btns .cancel-btn:hover {
  color: hsl(223, 47%, 23%);
}
